.input {
  padding: 0.8rem;
  border: 1px solid rgb(78, 76, 76);
  border-radius: 0.3em;
  width: 70%;
  margin-bottom: 1rem;
  background-color: rgb(255, 233, 225);
}
.select {
  margin-left: 0.5rem;
  padding: 0.5rem;
  background-color: rgb(255, 233, 225);
}
